@charset "ISO-8859-1";
/* INICIO LIBRAS */
.enabled {
  margin-right: 5px;
  margin-top: -43vh !important;
}
.access-button {
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  border-radius: 50px !important;
  border: 0px;
}
/* FIM LIBRAS */
