@charset "ISO-8859-1";
/* CARROSSEL */
/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.gallery {
  background: #eee;
}

.gallery-cell {
  width: 66%;
  height: 400px;
  margin-right: 10px;
  background: #8c8;
  counter-increment: gallery-cell;
  border-radius: 10px;
}

/* cell number */
.gallery-cell:before {
  display: none;
  /* text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white; */
}

.carrosel-bg-1 {
  background-image: url("../imagens/hospedagem/hotel-carrossel1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.carrosel-bg-2 {
  background-image: url("../imagens/hospedagem/hotel-carrossel2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.carrosel-bg-3 {
  background-image: url("../imagens/hospedagem/hotel-carrossel3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* CARROSSEL */
