@charset "ISO-8859-1";
@charset "ISO-8859-1";
/* mudar Idioma */

.changeLangOpenDyslexic {
  font-family: "OpenDyslexic", "Poppins", sans-serif !important;
}
.changeLangPoppins {
  font-family: "Poppins", sans-serif !important;
}

.buttonChangeLang {
  height: 40px;
  width: 40px;
  position: fixed;
  border-radius: 50%;
  border-style: none !important;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  background-color: #000;
  right: 0;
  top: 25%;
  margin-right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.buttonChangeLang > img {
  width: 80%;
}

/* mudar Idioma */
