@charset "ISO-8859-1";
/* REDES SOCIAIS */

.section_redes {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 20%;
  left: 0;
  gap: 8px;

  border-radius: 0px 8px 8px 0px;
  padding: 8px;
  background-color: #dcdcdc;
}

.img_redes {
  height: 25px;
  width: 25px;
}

/* REDES SOCIAIS */
